@import "str-to-list";

$list: str-to-list("#{$categories_and_channels}", "|");


@each $category in $list {

  .badge-wrapper.bullet span.badge-category {
    .d-icon-lock {
      display: none;
    }
  }

  .sidebar-section-link-wrapper .sidebar-section-link-prefix.span .prefix-badge,
  .sidebar-section-link-wrapper .sidebar-section-link-prefix.icon .prefix-badge {
    display: none;
  }

  .badge-wrapper .badge-category .d-icon {
    display: none;
  }

  .chat-channel-title .d-icon-lock {
    display: none;
  }
}
