@import "str-to-list";

$list: str-to-list("#{$categories_and_channels}", "|");
$nested-list: ();


@if $categories_and_channels != "" {

@each $item in $list {
    
  $item: str-to-list("#{$item}", ";");
  $nested-list: append($nested-list, $item);
}

@each $lock-icon, $iconID in $nested-list {

.search-menu .results .restricted,
.category-drop [data-value="#{$iconID}"] .restricted,
    [href^="/chat/c/#{$lock-icon}"], 
    [href^="/c/#{$lock-icon}"] {
    .d-icon-lock {
        display: none;
        }
    }
}
}
